<ion-view view-title="Dashboard">
  <ion-content class="padding">

        <div id="container">
            <div class="overlayWrapper">
                <video id="remote-video" autoplay="" width="640" height="480">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>

        
        <div id="commands">    
            <button class="btn" id="start" style="background-color: green; color: white" ng-click="start();">Go!</button>
            <button class="btn" disabled id="stop" style="background-color: red; color: white" ng-click="stop();">Stop</button>
            <button class="btn" id="restart" style="background-color: yellow; color: black" ng-click="restart();">Restart</button>
        </div><br>
        
    
    <style>
          
        .btn{
            width: 180px;
            height: 100px;
            text-align: center;            
        }
                
    </style>     
    
  </ion-content>
</ion-view>
